@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: #eee;
}

.recipesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.pageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  @media (max-width: 590px) {
    flex-direction: column;
  }
}

.pageName {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  color: #000;

  @media (max-width: 590px) {
    font-size: 21px;
  }
}

.pageMain {
  padding: 0 15px;
}